.border {
  border: 1px solid #91a7ff;
  border-radius: 11px;
  background-color: #edf2ff;
  box-shadow: 0px 4px 16px -7px rgba(66, 68, 90, 1);
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}

.brand {
  display: inline-block;
  font-weight: 600;
  color: #4263eb;
}

.social-box-list {
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desc-box {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-bottom: 2rem;
}

.desc-box:last-child {
  margin-bottom: 0;
}