header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 8.2rem;
  margin-bottom: 5rem;
  background-color: #91a7ff;
  height: 6.4rem;
}

.logo {
  font-weight: 700;
  font-size: 2.4rem;
  cursor: pointer;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 3.6rem;
  margin-bottom: 0;
  padding-left: 0;
}

.links-container li {
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: #212529;
}

.nav-link:hover,
.nav-link:active,
#active {
  color: #364fc7;
}

