@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #212529;
}

.page-box {
  max-width: 132rem;
  margin: 0 auto;
}

.padding-sides {
  padding: 0 3.6rem;
}
